@use "../../styles/partials/variables" as *;

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg;
  height: 85%;
  &__title {
    margin: 1rem 0 1.5rem;

    color: $pc;
    border-bottom: 3px solid $link;
  }
}
