@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    padding: 1rem;
    color: $pc;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    padding: 1rem;
    width: 100%;
  }
  &__link {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  &__label {
    color: $pc;
  }
  &__input {
    @include button;
    background-color: white;
  }
  &__button {
    @include button;
  }
}

.react-calendar {
  // background-color: $bg;
  color: $pc;
  border: 1px solid $link;
}
